* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$text-outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
1px 1px 0 #000;
$border-font-color: white;
$background-color: rgb(59, 59, 59);
$overlay-font-color: black;
$gray-color: gray;

body {
  background-color: $background-color;
  font-family: "VT323", monospace;
}

.phone-container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: inherit;
  border: 4px solid $border-font-color;

  .phone-container__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/zakky-bird-game/static/bggif.gif");
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
  }
  h1 {
    top: 8px;
    color: $border-font-color;
    text-shadow: $text-outline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  p {
    font-size: 45px;
    color: $border-font-color;
    font-weight: bold;
    z-index: 6;
    position: absolute;
    background-color: $overlay-font-color;
    padding: 2px 8px;
    top: 0;
    left: 0;
  }
  .phone-container__game-start-screen {
    width: 100%;
    height: 100%;
    background-color: $overlay-font-color;
    z-index: 5;
    position: relative;
    color: $border-font-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    gap: 10px;
    h4 {
      text-shadow: $text-outline;
      font-size: 37px;
      text-align: center;
    }
    button {
      text-shadow: $text-outline;
      border: none;
      outline: none;
      font-size: 34px;
      color: $border-font-color;
      font-family: "VT323", monospace;
      background-color: $border-font-color;
      border: 3px solid $gray-color;
      padding: 8px 12px;
    }
  }
  .phone-container__game-over-screen {
    width: 100%;
    height: 100%;
    background-color: $overlay-font-color;
    z-index: 5;
    opacity: 0.9;
    position: relative;
    color: $border-font-color;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    h2 {
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      font-size: 55px;
    }
    h4 {
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      font-size: 37px;
    }
    button {
      text-shadow: -1px -1px 1px #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      border: none;
      outline: none;
      font-size: 34px;
      color: $border-font-color;
      font-family: "VT323", monospace;
      background-color: $border-font-color;
      border: 3px solid $gray-color;
      padding: 8px 12px;
    }
  }
  .phone-container__character {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 40px;
    height: 40px;
    z-index: 4;
    transform: translateX(-1);
    border-radius: 50%;
    transform: scaleX(-1);
  }
  .phone-container__top-pipe {
    width: 22%;
    height: 25%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    animation-name: move-top-pipe;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: url("../static/pipe.png");
    border-left: 3px solid $border-font-color;
    border-right: 3px solid $border-font-color;
    border-bottom: 3px solid $border-font-color;
  }
  .phone-container__bottom-pipe {
    width: 22%;
    height: 64%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    animation-name: move-bottom-pipe;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: url("../static/pipe.png");
    border-left: 3px solid $border-font-color;
    border-right: 3px solid $border-font-color;
    border-top: 3px solid $border-font-color;
  }
}

@keyframes move-top-pipe {
  0% {
    right: -22%;
  }
  100% {
    right: 100%;
  }
}
@keyframes move-bottom-pipe {
  0% {
    right: -22%;
  }
  100% {
    right: 100%;
  }
}
